*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.modals{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
}

#modalBackground{
    margin: 3rem;
    background-color: green;
}

i{
    cursor: pointer;
}

@media screen and (max-width:769px) {
    tr{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    #tableResponse{
        display: block !important;
    }
    th{
        display: none !important;
    }
    #tableInfo{
        font-weight: 900;
        font-style: italic;
        text-decoration: underline;
        text-underline-offset: 1px;
        text-align: left;
    }
}

tbody{
    background-color: rgb(255, 255, 255);
}

tr:nth-child(even){
    background-color: rgba(201, 201, 201, 0.1);
}

@media screen and (min-width:769px) {
    #tableResponse{
        display: none !important;
    }
    th{
        display: table-cell !important;
    }
}